<kt-portlet>

	<kt-portlet-body>
		<div class="row">
			<div class="col-md-12">		
				<button class="btn btn-success pull-right" (click)="openConfirmationModal()"><i class="fas fa-plus"></i> New</button>
			</div>
		</div>

		<div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Save changes</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>User ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th style="width: 250px;">Action</th>
				</tr>
			</thead>
		</table>

	</kt-portlet-body>
</kt-portlet>