<section controller="usersPage">
  <kt-portlet>
    <kt-portlet-header [title]="'User List'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>

        <button class="btn btn-sm btn-info pull-right" id="filterUserTypeBtn"><i class="fas fa-user"></i>
          Filter User Type</button>

        <button class="btn btn-sm btn-dark pull-right" id="simulate10AnonymousLogin"><i class="fas fa-cogs"></i>
          Simulate 10 Anonymous Login</button>

        <button class="btn btn-sm btn-danger pull-right" id="deleteOldAnonymousUserBtn"><i class="fas fa-trash"></i>
          Delete Old Anonymous User</button>

        <button class="btn btn-sm btn-success pull-right create-btn"><i class="fas fa-plus"></i>
          New</button>
      </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>

      <div id="formDialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 100%;">
          <div class="modal-content" style="width: 900px;margin: 0px auto;">
            <div class="modal-header">
              <h5 class="modal-title">Create Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="home" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#login_and_security" role="tab"
                    aria-controls="profile" aria-selected="false">Login & Security</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#another_detail" role="tab"
                    aria-controls="contact" aria-selected="false">Specific Details</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" role="tabpanel" id="profile" aria-labelledby="home-tab">

                  <div class="row">
                    <div class="col-md-6">

                      <div class="form-group">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" id="first_name" />
                      </div>

                      <div class="form-group">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" id="last_name" />
                      </div>

                      <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" id="email" />
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <label for="">Code</label>
                          <select name="" class="form-control" id="mobile_country_code">

                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="">Contact No.</label>
                          <input type="text" class="form-control" id="mobile" />
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">

                      <div class="form-group">
                        <label for="">Country</label>
                        <select name="" id="" class="form-control" id="country">
                          <option value="indonesia">Indonesia</option>
                          <option value="singapore">Singapore</option>
                          <option value="malaysia">Malaysia</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Address</label>
                        <textarea name="" id="address" cols="30" rows="5" class="form-control"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="">Photo</label>
                        <form class="file-upload-form">
                          <input type="file" class="form-control file-browse" name="photo[]" id="photo"
                            style="display:  none;" />
                          <img class="image-preview" src="/assets/media/photo/no-photo.png"
                            style="width: 140px;height: 160px;">
                        </form>
                        <span style="color: green;font-style: italic;">* Click to Browse</span>
                      </div>

                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" role="tabpanel" id="login_and_security" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col-md-6">

                      <div class="form-group">
                        <label for="">User Type</label>
                        <select name="" id="user_type" class="form-control">
                          <option value="Super User">Super User</option>
                          <option value="Admin">Admin</option>
                          <option value="Student">Student</option>
                          <option value="Teacher">Teacher</option>
                          <option value="Guardian">Guardian</option>
                          <option value="Customer Service">Customer Service</option>
                          <option value="Marketing">Marketing</option>
                          <option value="ISCS Content Provider">ISCS Content Provider</option>
                          <option value="Accounting">Accounting</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" id="password" />
                      </div>

                      <div class="form-group">
                        <label for="">Status</label>
                        <div class="onoffswitch">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
                            checked>
                          <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" role="tabpanel" id="another_detail" aria-labelledby="contact-tab">

                  <div id="student_detail" class="detail_info">
                    <span class="alert alert-info">
                      *
                      * This is detailed information that only appears for users with certain permissions.
                      *
                    </span>

                    <h5>Student's Guardian</h5>
                    <div class="row mb-4">
                      <div class="col-md-1 text-center">
                        <a href="#" class="guardian-detail">
                          <img
                            src="http://icons.iconarchive.com/icons/hopstarter/face-avatars/48/Male-Face-A2-icon.png" />
                          <div>
                            Raffi Ahmad
                          </div>
                        </a>
                      </div>

                      <div class="col-md-1 text-center">
                        <a href="#" class="guardian-detail">
                          <img
                            src="http://icons.iconarchive.com/icons/hopstarter/face-avatars/48/Male-Face-D4-icon.png" />
                          <div>
                            Baim Wong
                          </div>
                        </a>
                      </div>
                    </div>

                    <p class="text-center mb-2">___</p>

                    <div class="row">
                      <div class="col-md-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                          aria-orientation="vertical">
                          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                            role="tab" aria-controls="v-pills-home" aria-selected="true">Subscribed Channels</a>
                          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                            role="tab" aria-controls="v-pills-profile" aria-selected="false">Payment History</a>
                          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                            role="tab" aria-controls="v-pills-messages" aria-selected="false">Another Report</a>
                          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                            role="tab" aria-controls="v-pills-settings" aria-selected="false">Another Report</a>
                        </div>
                      </div>
                      <div class="col-md-10" style="border-left: 4px solid grey;">
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">

                            <div class="row">
                              <div class="col-md-12">
                                <h5>Subscribed Channel</h5>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Subscription ID</th>
                                      <th>Channel Name</th>
                                      <th>Package</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>SBS-1002-55F</td>
                                      <td>
                                        <a href="#">English for Dummies</a>
                                      </td>
                                      <td><b>Bronze</b></td>
                                      <td>Active (200 days left)</td>
                                    </tr>
                                    <tr>
                                      <td>SBS-1003-79F</td>
                                      <td>
                                        <a href="#">Math for Dummies</a>
                                      </td>
                                      <td><b>Silver</b></td>
                                      <td>Trial (40 days left)</td>
                                    </tr>
                                    <tr>
                                      <td>SBS-1004-88F</td>
                                      <td>
                                        <a href="#">C# From Noob to Hero</a>
                                      </td>
                                      <td><b>Gold</b></td>
                                      <td>Terminated</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

                          </div>
                          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">

                            <h5>Payment History</h5>
                            <div class="row">
                              <div class="col-md-12">

                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Payment ID</th>
                                      <th>Date</th>
                                      <th>Card Details</th>
                                      <th>Subscribed Channel</th>
                                      <th>Package</th>
                                      <th>Status</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>P1001</td>
                                      <td>21 March 2019</td>
                                      <td>1123-4242-5111-5555</td>
                                      <td>C# Basic</td>
                                      <td>Bronze</td>
                                      <td>Successfull</td>
                                    </tr>
                                    <tr>
                                      <td>P1002</td>
                                      <td>21 April 2019</td>
                                      <td>1123-4242-5111-5555</td>
                                      <td>C# Basic</td>
                                      <td>Bronze</td>
                                      <td>Successfull</td>
                                    </tr>
                                    <tr>
                                      <td>P1001</td>
                                      <td>21 August 2019</td>
                                      <td>1123-4242-5111-5555</td>
                                      <td>C# Basic</td>
                                      <td>Bronze</td>
                                      <td>Declined</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>
                          </div>

                          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">...</div>
                          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div id="teacher_detail" class="detail_info">
                    <span class="alert alert-info">
                      *
                      * This is detailed information that only appears for users with certain permissions.
                      *
                    </span>

                    <p class="text-center mb-2">___</p>

                    <div class="row">
                      <div class="col-md-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                          aria-orientation="vertical">
                          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                            href="#v-pills-managed-channel" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Managed Channels</a>
                          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-other"
                            role="tab" aria-controls="v-pills-profile" aria-selected="false">Another Report</a>
                          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-other"
                            role="tab" aria-controls="v-pills-messages" aria-selected="false">Another Report</a>
                          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-other"
                            role="tab" aria-controls="v-pills-settings" aria-selected="false">Another Report</a>
                        </div>
                      </div>
                      <div class="col-md-10" style="border-left: 4px solid grey;">
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-managed-channel" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">

                            <div class="row">
                              <div class="col-md-12">

                                <h5>Managed Channel</h5>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Channel ID</th>
                                      <th>Channel Name</th>
                                      <th>Curriculum</th>
                                      <th>Subject</th>
                                      <th>Active Subscribers</th>
                                      <th>Last Update</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>ICSE Biology</td>
                                      <td>ICSE</td>
                                      <td>Biology</td>
                                      <td><a href="#">500</a></td>
                                      <td>Today</td>
                                    </tr>
                                    <tr>
                                      <td>ICSE Biology</td>
                                      <td>ICSE</td>
                                      <td>Biology</td>
                                      <td><a href="#">1700</a></td>
                                      <td>17 March 2019</td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>

                          </div>
                          <div class="tab-pane fade" id="v-pills-other" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">...</div>
                          <div class="tab-pane fade" id="v-pills-other" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">...</div>
                          <div class="tab-pane fade" id="v-pills-other" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="saveForm"><i class="fas fa-save"></i> Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div id="deleteConfirmationDialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete this data?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger delete-confirmation-btn">Yes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

      <div id="deleteOldAnonymousUserDialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Old Anonymous Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <p class="text-center">
                <img class="mb-2"
                  src="http://icons.iconarchive.com/icons/dapino/office-women/96/eyes-office-women-glasses-icon.png" />
                <span class="alert alert-info">Select Your Date</span>
              </p>
              <span style="color: red;">*All anonymous data before or equalTo selected date will be deleted</span>
              <input type="date" class="form-control" id="selectedLastLoginDate" />

              <span class="alert alert-success" style="display: none;" id="deleteOldAnonymousUserDialogInfo"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="deleteOldAnonymousUserDialogConfirmationBtn">Yes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display: none;"
                id="closeDeleteOldAnonymousUserBtn">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div id="filterUserDialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Select User Type</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="row">
                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Student">
                    <img src="http://icons.iconarchive.com/icons/martin-berube/people/72/friends-icon.png" />
                    <div>Student</div>
                  </a>
                </div>

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Teacher">
                    <img src="http://icons.iconarchive.com/icons/diversity-avatars/avatars/72/andy-warhol-icon.png" />
                    <div>Teacher</div>
                  </a>
                </div>

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Guardian">
                    <img
                      src="http://icons.iconarchive.com/icons/google/noto-emoji-people-profession/72/10219-man-teacher-light-skin-tone-icon.png" />
                    <div>Guardian</div>
                  </a>
                </div>
              </div>

              <div class="row">

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Customer Service">
                    <img
                      src="http://icons.iconarchive.com/icons/dapino/office-women/72/eyes-office-women-glasses-icon.png" />
                    <div>Customer Service</div>
                  </a>
                </div>

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Marketing">
                    <img
                      src="http://icons.iconarchive.com/icons/dapino/callcenter-girls/72/callcenter-girls-glasses-icon.png" />
                    <div>Marketing</div>
                  </a>
                </div>

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Accounting">
                    <img
                      src="http://icons.iconarchive.com/icons/dapino/office-women/72/eyes-office-women-purple-icon.png" />
                    <div>Accounting</div>
                  </a>
                </div>

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="ISCS Content Provider">
                    <img src="http://icons.iconarchive.com/icons/martin-berube/people/72/artist-icon.png" />
                    <div>ISCS Content Provider</div>
                  </a>
                </div>

              </div>

              <div class="row">
                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Super User">
                    <img src="http://icons.iconarchive.com/icons/martin-berube/people/72/waiter-icon.png" />
                    <div>Super User</div>
                  </a>
                </div>

                <div class="col-md-3 text-center">
                  <a href="#" class="filter-user-item" value="Admin">
                    <img src="http://icons.iconarchive.com/icons/martin-berube/people/72/child-icon.png" />
                    <div>Admin</div>
                  </a>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" id="clearUserFilterBtn">Clear User Filter</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <table id="usersTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>UID</th>
            <th style="width: 140px">Provider</th>
            <th>Email</th>
            <th>Display Name</th>
            <th>CreatedAt</th>
            <th>LastLoginAt</th>
            <th style="width: 100px;">Action</th>
          </tr>
        </thead>
      </table>

    </kt-portlet-body>
  </kt-portlet>
</section>