<div style="width: 60%; margin: 0px auto;padding-top: 230px;display: none;" id="need-activation-info-for-guardian">

	<img src="assets/media/logos/opet_logo.png" alt="" style="width: 200px;height: 100px;margin: 0px auto;">
	<h3>We've created an account for You</h3>
	<span class="alert alert-success">
		Please click on the link in your email for verification before the account is activated.
		Student will need to add you as their guardian before you can see their details.
	</span>

	<button routerLink="/auth/login"
		class="btn btn-secondary btn-elevate">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>

</div>

<div style="width: 60%; margin: 0px auto;padding-top: 230px;display: none;" id="need-activation-info-for-teacher">

	<img src="assets/media/logos/opet_logo.png" alt="" style="width: 200px;height: 100px;margin: 0px auto;">
	<h3>We've created an account for You</h3>
	<span class="alert alert-success">
		Before you can continue, it's required that you verify your email, and admin will need to approve your account
		creation.
	</span>

	<button routerLink="/auth/login"
		class="btn btn-secondary btn-elevate">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>

</div>

<div style="width: 60%; margin: 0px auto;padding-top: 30px;" id="register-form">
	<h3>Register</h3>

	<span class="alert alert-danger" style="display: none;">Something Wrong!</span>
	<span class="alert alert-success" style="display: none;">Registration Success!</span>

	<div class="row">
		<div class="col-md-9">

			<div class="row">
				<div class="col-md-6">
					<label for="">First Name</label>
					<input type="text" class="form-control" id="first_name" />
				</div>
				<div class="col-md-6">
					<label for="">Last Name</label>
					<input type="text" class="form-control" id="last_name" />
				</div>
			</div>

			<div class="form-group">
				<label for="">Email</label>
				<input type="text" class="form-control" id="email" />
			</div>


			<div class="row">
				<div class="col-md-6">
					<label for="">Code</label>
					<select name="" class="form-control" id="mobile_country_code">

					</select>
				</div>
				<div class="col-md-6">
					<label for="">Contact No.</label>
					<input type="text" class="form-control" id="mobile" />
				</div>
			</div>

			<div class="form-group">
				<label for="">Country</label>
				<select name="" id="" class="form-control" id="country">
					<option value="indonesia">Indonesia</option>
					<option value="singapore">Singapore</option>
					<option value="malaysia">Malaysia</option>
				</select>
			</div>

			<div class="form-group">
				<label for="">Address</label>
				<textarea name="" id="address" cols="30" rows="3" class="form-control"></textarea>
			</div>

			<div class="row">
				<div class="col-md-6">
					<label for="">Password</label>
					<input type="password" class="form-control" id="password" />
				</div>
				<div class="col-md-6">
					<label for="">Confirm Password</label>
					<input type="password" class="form-control" id="confirm_password" />
				</div>
			</div>

			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<button class="btn btn-primary btn-elevate pull-right" id="submit-register-btn"
						style="margin-left: 10px;">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>

					<button routerLink="/auth/login"
						class="btn btn-secondary btn-elevate">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				</div>
			</div>

		</div>

		<div class="col-md-1"></div>

		<div class="col-md-2">
			<div class="form-group">
				<label for="">Photo (Optional)</label>
				<form class="file-upload-form">
					<input type="file" class="form-control file-browse" name="photo[]" id="photo"
						style="display:  none;" />
					<img class="image-preview" src="/assets/media/photo/no-photo.png"
						style="width: 140px;height: 160px;">
				</form>
				<span style="color: green;font-style: italic;">* Click to Browse</span>
			</div>
		</div>

	</div>


</div>