<kt-portlet>

    <kt-portlet-header [title]="'Student Paymentlog list'" [class]="'kt-portlet__head--lg'">
      <ng-container ktPortletTools>
        <button class="btn btn-sm btn-success pull-right" (click)="openformDialog()"><i class="fas fa-plus"></i>
          New</button>
      </ng-container>
    </kt-portlet-header>
  
    <kt-portlet-body>
  
      <div id="formDialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 100%;">
          <div class="modal-content" style="width: 900px;margin: 0px auto;">
            <div class="modal-header">
              <h5 class="modal-title">Create Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="">
  
                <div class="row">
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">User Role</label>
                      <select name="" id="" class="form-control">
                        <option value="super_user">Super User</option>
                        <option value="admin">Admin</option>
                        <option value="teacher">Teacher</option>
                        <option value="guardian">Guardian</option>
                        <option value="customer_service">Customer Service</option>
                        <option value="marketing">Marketing</option>
                        <option value="iscs_content_provider">ISCS Content Provider</option>
                        <option value="accounting">Accounting</option>
                      </select>
                    </div>
  
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" class="form-control" id="first_name" />
                    </div>
  
                    <div class="form-group">
                      <label for="">Last Name</label>
                      <input type="text" class="form-control" id="last_name" />
                    </div>
  
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="text" class="form-control" id="email" />
                    </div>
  
                    <div class="form-group">
                      <label for="">Mobile</label>
                      <input type="text" class="form-control" id="mobile" />
                    </div>
  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Country</label>
                      <select name="" id="" class="form-control" id="country">
                        <option value="indonesia">Indonesia</option>
                        <option value="singapore">Singapore</option>
                        <option value="malaysia">Malaysia</option>
                      </select>
                    </div>
  
                    <div class="form-group">
                      <label for="">Address</label>
                      <textarea name="" id="address" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="">Photo</label>
                      <input type="file" class="form-control" id="photo" />
                    </div>
                  </div>
  
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="saveForm"><i class="fas fa-save"></i> Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
  
      <div id="deleteConfirmationDialog" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure to delete this data?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="onDeleteYes()">Yes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
  
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th style="width: 100px;">Action</th>
          </tr>
        </thead>
      </table>
  
    </kt-portlet-body>
  </kt-portlet>