<kt-portlet>

  <kt-portlet-header [title]="'Channel list'" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
      <button class="btn btn-sm btn-success pull-right" (click)="openformDialog()"><i class="fas fa-plus"></i>
        New</button>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>

    <div id="formDialog" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="max-width: 100%;">
        <div class="modal-content" style="width: 900px;margin: 0px auto;">
          <div class="modal-header">
            <h5 class="modal-title">Create Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="">

              <div class="row">

                <div class="col-md-12">

                  <div class="form-group">
                    <label for="">Channel Name</label>
                    <input type="text" class="form-control" id="first_name" />
                  </div>

                  <div class="form-group">
                    <label for="">Curriculum</label>
                    <select name="" id="curriculum" class="form-control">
                      <option value="igcse">IGCSE</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="">Subject</label>
                    <select name="" id="subject" class="form-control">
                      <option value="igcse">Biology</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-8">
                        <label for="">Channel Access</label>
                        <input type="text" class="form-control" id="guardian_access" />
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-warning btn-sm" style="position: absolute;bottom: 0px;left: 0px;"><i
                            class="fas fa-edit"></i> Edit</button>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                      <div class="col-md-8">
                        <input type="text" class="form-control" id="guardian_access" />
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-success btn-sm" style="position: absolute;bottom: 0px;left: 0px;"><i
                            class="fas fa-search"></i> View</button>
                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="saveForm"><i class="fas fa-save"></i> Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div id="deleteConfirmationDialog" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this data?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="onDeleteYes()">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>User ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th style="width: 100px;">Action</th>
        </tr>
      </thead>
    </table>

  </kt-portlet-body>
</kt-portlet>